/* body {
  margin: 0;
  padding: 0;
  background-image: url('background.jpg'); /* Replace "vancouver.jpg" with the actual filename of the image */
  /* background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
}

.container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* Add a semi-transparent background to the welcome text */
/* }

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

p {
  font-size: 24px;
} */